@import "tailwindcss";

:root {
  --main: #ED8413;
  --hover-main: #D2620D;
  --active-main: #AE430F;
  --white: #F8F8F8;
  --disabled: #FCECC9;
  --font-plus-jakarta: "Plus Jakarta Sans", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--white);
  font-family: var(--font-plus-jakarta);
  margin-left: 100px;
  margin-right: 100px;
}

@theme inline {
  --font-display: "Montserrat", sans-serif;
  --color-main: var(--main);
  --color-hover-main: var(--hover-main);
  --color-active-main: var(--active-main);
  --color-background: var(--background);
  --color-disabled: var(--disabled);
  --color-white: var(--white);
}
