@import "tailwindcss";

@layer base {

  *,
  *::before,
  *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  /* For Firefox. */
  * {
    scrollbar-width: none;
  }

  /* For WebKit (Chrome & Safari). */
  ::-webkit-scrollbar {
    display: none;
  }
}

:root {
  --main: #ED8413;
  --hover-main: #D2620D;
  --active-main: #AE430F;
  --white: #F8F8F8;
  --disabled: #FCECC9;
  --font-plus-jakarta: "Plus Jakarta Sans", sans-serif;
}

body {
  background: var(--white);
  font-family: var(--font-plus-jakarta);
}

@theme inline {
  --font-display: "Montserrat", sans-serif;
  --color-main: var(--main);
  --color-hover-main: var(--hover-main);
  --color-active-main: var(--active-main);
  --color-background: var(--background);
  --color-disabled: var(--disabled);
  --color-white: var(--white);
}